* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 400;
}

form {
  padding: 10px;
  background-color: rgb(245, 245, 245);
  width: 100%;
}

form input {
  border: 1px solid #004562;
  padding: 10px;
  width: 90%;
  margin-right: 0.5%;
  margin-bottom: 10px;
  border-radius: 8px 8px 8px 8px;
}

form input:focus {
  border: 1px solid #004562;
  outline: none;
}
h1 {
  font-weight: lighter;
  text-transform: uppercase;
}
form button {
  width: 9%;
  border: 1px solid #004562;
  padding: 10px;
  border-radius: 8px;
}

form button:focus {
  border: 1px solid rgb(145, 145, 145);
  outline: none;
}

.messaggio {
  width: fit-content;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  list-style: none;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  background-color: rgb(224, 224, 224);
  margin: 10px 20px 10px 0px;
  color: #004562;
  font-family: 'Montserrat', sans-serif;
  border-radius: 8px 8px 8px 0px;
}

.App {
  width: 100%;
  height: 100vh;
  /* padding: 30px; */
  background-color: rgb(0, 154, 181);
}

.wrapper {
  display: grid;
  height: 100vh;
  width: 100%;
  border-radius: 8px;
  margin: 0 auto;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  background-color: #409d9b;
  grid-template-columns: 250px auto 300px;
  grid-template-rows: 130px auto 60px;
}

i {
  color: #ffffff;
  font-size: 30px;
  margin-right: 30px;
}
.Form {
  grid-row: 3/3;
  grid-column: 2/3;
}

.TodoList {
  grid-row: 1/4;
  grid-column: 3/4;
  padding: 73px 30px 0px 40px;
  color: white;
  font-family: 'Montserrat';
  font-weight: 400;
  background-color: #00a29d !important;
}

.Users {
  grid-row: 1/4;
  grid-column: 1 / span 1;
  /* border: 4px solid rgb(255, 255, 255);   */
  padding: 15px 0px 0px 40px;
  margin: 50px 30px 0px 0px;
  display: flex;
  flex-direction: column;
}

.User {
  margin-bottom: 20px;
}
.TopBar {
  grid-row: 1/2;
  grid-column: 2 /3;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  /* border: 4px solid rgb(255, 255, 255);   */

  /* border-bottom: 1px solid #636e72; */
  color: #ffffff;
  background-color: #006f7e;
  padding: 15px 0px 0px 20px;
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
}

.List {
  overflow-wrap: break-word;
  overflow-y: auto;
  grid-row: 2/3;
  grid-column: 2/3;
  background-color: rgb(245, 245, 245);
  color: #636e72;
  padding: 10px 20px 0px 40px;
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  /* border: 1px solid grey; */
  /* border-radius: 0px 0px 8px 8px; */
}

.users {
  /* grid-row: 3/4;
  grid-column: 2/3; */
  color: white;
  height: 250px;
  list-style: none;
  align-items: center;
  overflow-y: auto;
  border-radius: 8px;
  padding: 10px 0px 10px 0px;
  margin: 10px 0px 10px 0px;
  font-family: 'Montserrat', sans-serif;
}

.fotoUser {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  background-color: #adadad;
  border-radius: 8px 8px 8px 8px;
  margin-right: 10px;
  text-align: center;
  padding-top: 2%;
  font: 25px 'Montserrat', sans-serif;
  text-transform: capitalize;
}

.fotoRoom {
  width: 40px;
  height: 40px;
  background-color: #adadad;
  border-radius: 8px 8px 8px 8px;
  margin-right: 10px;
  text-align: center;
  font: 24px 'Montserrat', sans-serif;
  text-transform: capitalize;
}
.RoomsGroup {
  height: 200px;
  overflow-y: auto;
}
.room {
  color: white;
  display: flex;
  padding: 10px 0px 10px 0px;
  margin: 10px 0px 10px 0px;
  align-items: center;
  font: 14px 'Montserrat', sans-serif;
  border: 10px;
}

.RoomTitle {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 15px;
}
.RoomTitle i {
  font-size: 20px;
}

.usersList {
  display: flex;
  align-items: center;
}
.usersList div {
  display: inline-block;
  margin: 10px;
}

small {
  color: #adadad;
  display: block;
  font-weight: lighter;
  margin-left: '10px';
  margin-right: '2px';
}

.online {
  background-color: #0045628a;
  border-radius: 8px;
}

.inviaLogin {
  background-color: transparent;
  border: 1px solid rgb(230, 230, 230);
  color: #034561;
  font: 13px 'Montserrat', sans-serif;
}

.inviaLogin:focus {
  background-color: rgb(230, 230, 230);
  border: 1px solid rgb(230, 230, 230);
  color: #034561;
  font: 12px 'Montserrat', sans-serif;
}

.formRooms {
  background-color: transparent;
}
.inputRooms {
  background-color: transparent;
  border-color: #034561;
  font: 13px 'Montserrat', sans-serif;
}

.inputRooms:focus {
  background-color: transparent;
  border-color: white;
  color: #034561;
  font: 13px 'Montserrat', sans-serif;
}

.notme {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}
